QuizApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcuserstate
*.xcworkspacedata
QuizApp.xcodeproj/xcuserdata/patrick.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcbkptlist
